// Virtuedata version 3 2018
// ================= Generellt =======================
body {
    background: $aluminum
}


body.cke_editable_themed {
    //    background: $gainsboro;
}

.page {
    //  background: $ghost;
    background: $white;
}

.l-header-region,
.b-header,
main,
#main-menu {
    //  background: $white;

}

//

//scroll
.scroll-top {
    background-color: $primary-color;
    border-radius: 4px;
    bottom: 1.5rem;
    display: none;
    height: 40px;
    position: fixed;
    right: 2rem;
    text-align: center;
    width: 40px;
    padding-top: 7px;
}

.fi-arrow-up::before {
    content: "";
}

.scroll-top i {
    color: #ffffff;
    font-size: 1.7rem;
    //    margin: 0 0 2.5rem 0;
    padding: 0;
}

h2.block-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $charcoal;

}

// ========================== header ========================

.l-header-region {
    border-bottom: $horiz-line-color 1px solid;
    padding: $column-gutter/2 0;

    .mobile-logo-wrapper {

        //        text-align: right;
        img {
            max-height: 50px;

        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
            display: inline;
            padding: 0;
            margin: 0;

            a {

                font-family: "PT Sans", sans-serif;
                text-transform: uppercase;
                font-size: 0.85rem;
                color: $menu-header-font-color;
                //        border-right: $menu-header-font-color 1px solid;
                padding-left: 0.6rem;
                padding-right: 0.6rem;

                img {
                    width: 30px;
                    height: auto;
                }
            }

            a:hover {
                //        color: $primary-color;
            }

            a.active {
                //        color: $primary-color;
                //          display: none;
                //          img{
                //              -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                //              filter: grayscale(100%);
                //          }
            }
        }

        li:last-child {
            a {
                border: none;
            }
        }

    }
}

.b-header-wrapper {
    padding-bottom: $column-gutter/1.5;

    .sponsorloggor {
        .block {
            padding: 0 $column-gutter;
            height: 100px;
            border-left: $menu-header-font-color 1px solid;
        }
    }

    .b-header {
        padding: $column-gutter 0;
    }

    p {
        margin-bottom: 0;
    }

    @media #{$small-only} {
        .sponsorloggor {
            .block {
                border: none;
                padding: 0 $column-gutter/5;
                height: inherit;
            }
        }

        .b-header {
            padding: $column-gutter/3 0;
        }

        padding-bottom: $column-gutter/3;
    }

}

//================================
//============ Main menu
#main-menu {
    border-bottom: $horiz-line-color 1px solid;
    border-top: $horiz-line-color 1px solid;

    //  .inline-list {
    //    margin: 0;
    //  }

    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

            float: left;

            a {
                display: block;
                font-family: "PT Sans", sans-serif;
                text-transform: uppercase;
                font-size: 1rem;
                color: $menu-font-color;
                padding: 0.5rem 0.80rem;

            }

            a:hover,
            a.active-trail {
                background: $primary-color;
                color: $white;
            }
        }
    }
}

.view-observationer-frontpage {
    table {
        width: 100%;
    }
}

.node-projekt {
    padding-bottom: $column-gutter;

    .field-name-submitted-by {
        padding-bottom: $column-gutter/8;
        font-size: 0.85rem;
        font-style: italic;
    }

    .bild-wrapper {
        padding-bottom: $column-gutter/2;

        .enskild-bild {

            height: auto;
            display: inline-block;
            padding: 5px;

            img {
                max-width: 300px;
            }
        }

    }

    .body {
        padding-top: $column-gutter/8;
    }

    .members-wrapper {
        margin-bottom: $column-gutter/8;

        span {
            padding-right: 2px;
            ;
        }

        span::after {
            content: ", ";
        }

        span:last-child::after {
            content: "";
        }
    }
}

.node-rapport {
    .node-places.node-teaser {

        .vcard {
            border: none;
            margin: 0;
            padding: 0 0 1rem 0;
        }
    }

    .group-left {
        padding-bottom: $column-gutter;
    }
}

.l-featured {
    margin-bottom: $column-gutter;
    display: block;

    .view-front-page-banner {
        margin-bottom: $column-gutter/2;
    }

    section {
        //        margin-bottom: $column-gutter;
    }

    .banner-wrapper {

        div {
            .columns {


                .banner-image {
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .banner-body {
                    position: absolute;
                    color: $white;
                    top: 1rem;
                    left: 2rem;
                    z-index: 1;
                    text-shadow: 3px 3px 5px #000;

                    h2,
                    h3,
                    h4 {
                        color: #ffffff;
                    }
                }
            }
        }

        @media #{$small-only} {
            div {
                .columns {
                    padding-bottom: $column-gutter/2;
                }
            }
        }
    }

    .block-menu-block-22,
    .block-menu-block-26 {
        ul.menu {
            margin: 0;
            list-style: none;
            border-bottom: dashed 1px $iron;
            padding-bottom: $column-gutter/2;

            li {
                display: inline-table;

                //
                a {
                    padding: 0 $column-gutter/2;
                    color: $jet;
                    text-transform: uppercase;
                }

                a::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    padding-right: $column-gutter/2;
                    font-size: 30px;
                    color: $jet;
                    vertical-align: middle;
                }
            }

            li.add-report a::before {
                content: "\f192";
                color: $virtue-button-report-color;
            }

            li.add-blog a::before {
                content: "\f573";
                color: $virtue-button-blog-color;
            }

            li.add-project a::before {
                content: "\f0c0";
                color: $primary-color;
            }

            li.add-place a::before {
                content: "\f3c5";
                color: $virtue-button-place-color;
            }

            li.add-report a:hover {
                color: $virtue-button-report-color;
            }

            li.add-blog a:hover {
                color: $virtue-button-blog-color;
            }

            li.add-project a:hover {
                color: $primary-color;
            }

            li.add-place a:hover {
                color: $virtue-button-place-color;
            }
        }
    }

}

//===== footer
.l-footer-columns {
    background: $charcoal;
    padding: $column-gutter 0;
    height: auto;
    color: $snow;
    text-align: center;

    a {
        color: $snow;
    }

    a:hover {
        color: $primary-color;
    }

    ul.menu {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 0 $column-gutter/3;
            border-right: 1px $jumbo solid;

            a {
                color: $smoke;
            }

            a:hover {
                color: $primary-color;
            }
        }

        li:last-child {
            border: none;
        }

    }

    .footer-second {
        padding: $column-gutter 0;

        p {
            margin: 0;
        }
    }
}

// vänster sidebar



// ========================= Main =======================
.l-main {
    margin-bottom: $column-gutter;

    ul.menu {
        list-style: none;
    }

    ul.menu {
        //        list-style-type: none;
        margin: 0;
        padding: 0;
        border-right: #CCCCCC 1px dashed;

        li {
            position: relative;
            margin: 0;

            a {
                color: $menu-font-color;
                padding: 7px 10px 8px 25px;
                display: block;
            }

            a::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f105";
                position: absolute;
                left: 0px;
                top: 8px;
            }

            li {
                padding-left: 1rem;

                a::before {
                    padding-left: 1rem;
                }
            }
        }

        li.expanded > a::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            position: absolute;
            left: 0px;
            top: 8px;

        }

        li.collapsed > a::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: "\f067";
            position: absolute;
            left: 0px;
            top: 8px;
            font-size: 0.7rem;
        }

        .active,
        :hover {
            color: $primary-color;
        }
    }

    .news-item {
        h4 {
            font-size: 1.1rem;
        }
    }

    .posted {
        color: $base;
        margin-bottom: $column-gutter/2;
        font-size: 0.85rem;
    }

    .posted::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f017";
        padding-right: 0.3rem;
    }



    .pagination-centered {
        clear: both;
        padding-top: 1.875rem;
    }

    .sidebar-second section {
        margin-bottom: 1.875rem;
    }

    .sidebar-second .news-block .news-item {
        a {
            color: #222222;
        }

        .posted {
            margin: 0;
        }

        :hover {

            h4,
            p,
            .posted {
                color: $primary-color;
            }
        }
    }

    .vocabulary-artgruppering {
        margin-bottom: 1.5rem;

        .taxonomy-term-description {
            i {
                font-size: 1.6rem;
                color: $primary-color;
            }

            display: inline-block;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            padding-right: 0.6rem;
        }

        .field {
            display: inline-block;
            font-style: italic;
            color: $tuatara;
            vertical-align: middle;
        }
    }

    // Login User grjer m.m
    .block-system{
        ul.menu .active{
            color: #fff;
        }
        ul{
            border: none;
            li{
                a{
                    color: #fff;
                    padding-left: $column-gutter*2;
                    padding-top: $column-gutter/2;
                    padding-bottom: $column-gutter/2;
                    padding-right: $column-gutter/2;
                    background: $primary-color;
                    text-transform: uppercase;
                    font-size: 0.9rem;
//                    line-height: 2rem;
                }
                a:hover{
                    background: $primary-color-2;
                    color: #fff;
                }
                margin-right: $column-gutter/2;
                a::before {
                    padding-left: $column-gutter/2;
                    font-size: 1.7rem;
                    line-height: 2rem;
                    color: $oil;
                    font-family: "Font Awesome 5 Free";
                }
                padding-bottom: $column-gutter/2;
            }
        }
        li.user-create-account {
            a::before {
                content: "\f406";
            }
        }
        li.user-login {
            a::before {
                content: "\f2f6";
            }
        }
    } 

     

}

// Rapport accordion i rapport.

.field-group-accordion-wrapper {

    .ui-state-default a::before {
        color: $white;
        font-size: 1.3rem;
    }

    #ui-accordion-1-header-0 {
        a::before {
            content: "1";
            font-weight: 600;
            margin-right: 0.5rem;
        }
    }

    #ui-accordion-1-header-1 {
        a::before {
            content: "2";
            font-weight: 600;
            margin-right: 0.5rem;
        }
    }

    #ui-accordion-1-header-2 {
        a::before {
            content: "3";
            font-weight: 600;
            margin-right: 0.5rem;
        }
    }

    #ui-accordion-1-header-3 {
        a::before {
            content: "4";
            font-weight: 600;
            margin-right: 0.5rem;
        }
    }

    #ui-accordion-1-header-4 {
        a::before {
            content: "5";
            font-weight: 600;
            margin-right: 0.5rem;
        }
    }

    .ui-state-default {
        background: $iron;
        border: none;
        border-radius: 0;
    }

    .ui-state-active {
        background: $primary-color;
        display: block;
    }
}

//pop upp hjälp\
.popup-element-title {
    padding-right: 20px;
}

.popup-element-body {
    background: $steel;
    color: $snow;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    margin-left: 0.5rem;
}

.bottom-row-1 {
    background: $gainsboro;
    width: 100%;
    padding: $column-gutter 0;
}

.bottom-row-1 {
    padding: $column-gutter 0;
//    background: $monsoon;
    width: 100%;

    h2.block-title {
        
    }

    .bild-galleri-content {
        .galleri-item {
            width: 16.66%;
            float: left;
        }

        img {
            width: 100%;
            padding: 4px;
        }

        @media #{$small-only} {
            .galleri-item {
                width: 50%;
            }
        }

        @media #{$medium-only} {
            .galleri-item {
                width: 25%;
            }
        }
    }

    .pagination-centered {
        clear: both;
        padding-top: 1.875rem;
    }

}
.bottom-row-2 {
    padding: $column-gutter 0;
    background: $monsoon;
    h2.block-title,  {
        color: #fff;
    }
    .views-widget-filter-title label{
        
        color: #fff;
        
    }
}
//Rapportformuläret

label {
    font-family: $font-family-sans-serif;
}

button#edit-field-fynd-und-actions-ief-add {
    padding: 0rem;
    font-size: 0rem;
    margin-top: 0.5rem;
    text-align: center;
    background: none;
}

button#edit-field-fynd-und-actions-ief-add::before {
    padding: 0.5rem;
    content: "+ ";
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $primary-color;

}

// Entity connect


button#edit-field-place-add-entityconnect-field-place-all-,
button#edit-field-place-und-0-add-entityconnect-field-place-0- {
    padding: 0rem;
    font-size: 0rem;
    margin-top: 0.5rem;
    text-align: center;
    background: none;
}

button#edit-field-place-add-entityconnect-field-place-all-::before,
button#edit-field-place-und-0-add-entityconnect-field-place-0-::before {
    padding: 0.5rem;
    content: "+ ";
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $primary-color;

}

.button.active {
    background: $primary-color;
    color: white;
}

.node-form {
    .field-suffix {
        display: none;
    }

    .date-combo {
        .form-item {
            margin: 0 !important;

            input[type="text"] {
                margin: 0;
            }
        }
    }
}

.user-profile {
    span {
        margin-right: $column-gutter/5;
        
    }
}

.node {
    ul {
        list-style: inherit;

        li {
            padding-bottom: 6px;
        }
    }
}

// Resultatvyer
.view-rapporter-via-observationer{
    line-height: 1.8rem;
    .date-display-single, .date-display-start, .date-display-end{
        font-style: italic;
    }
    .view-content > .view-grouping{
        border-bottom: 1px #333 dotted;
        padding: $column-gutter/2 0;
        .view-grouping-header{
            a{
                font-size: 1.2rem;
                font-weight: 700;
            }
            
        }
        .view-grouping-content{
            h3 {
                margin: 0 0 10px 0;
                line-height: 1rem;
                a{
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }
}